<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Ex Libris</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <p>Welcome to Ex Libris, <%= @user["name"] %>.</p>
    <p>You have too many books. Read one:</p>
    <ul>
		<% @unreadBooks.each do |unreadBook|  %>
			<li>
				Book: <% unreadBook["book"]["title"] %>
			</li>
		<% end %> 
	</ul>
  </body>
</html>