<div id="bookLists">
	<%= erb :bookList, :locals => {:books => @unreadBooks, :listName => "unreadBooks"} %>
	<%= erb :bookList, :locals => {:books => @allBooks, :listName => "allBooks"} %>
</div>
<%= erb :modalAlert %>