<!-- Nav pills to toggle between unread and all books -->
<ul class="nav nav-pills center-pills">
	<li role="presentation" id="unreadBooksNavItem">
  		<a href="#" id="unreadBooksNavLink">Unread Books</a>
  	</li>
  	<li role="presentation" id="allBooksNavItem">
  		<a href="#" id="allBooksNavLink">All Books</a>
  	</li>
</ul>