<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <br>
      
      <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
      
      <h3><small>Empty Library</small></h3>
    
    </div>
  </div>
</div>