<!-- Displays the search results. Results are added into the div#search-results when they come back. While they are loading the spinner shows. -->
<div class="modal" id="searchModal" tabindex="-1" role="dialog"
     aria-labelledby="searchModalLabel1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close search-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="searchModalLabel1">Select the correct book to add to your library.</h4>
      </div>
      <div class="modal-body">
      	<%= erb :loading %>
      	<div class="search-results">
      		<!-- Search results will go here when they come back from the ajax request -->
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary search-close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>